<div class="p-4 text-left">

  <h1 class="text-center mb-1 font-bold text-4xl">Новая заявка</h1>
  <div class="container mx-auto p-4 border-2 border-red-700 rounded-lg  w-1/3 bg-red-600">
    <div class="bg-white shadow-md rounded-lg mb-6">
      <h1 class="text-xl font-bold p-4">Введите номер телефона клиента</h1>
      <input [(ngModel)]="phonenumber"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text">
      <button class="text-lg text-center mx-auto font-bold p-4 my-2 underline" routerLink="/registration" routerLinkActive="active-link">или зарегистрируйте</button>

    </div>
    <div class="bg-white text-center shadow-md rounded-lg overflow-hidden mb-6">
      <h1 class="text-2xl font-bold p-4">Выберите необходимые услуги</h1>
      <div class="divide-y divide-gray-300 overflow-y-scroll h-96">
        <div *ngFor="let serv of servs" class="flex items-center justify-between p-4">
          <div>
            <h2 class="text-lg font-semibold">{{serv.name}}</h2>
            <p class="text-gray-600">Стоимость: {{serv.cost}}руб.</p>
          </div>
          <input [(ngModel)]="serv.selected" (ngModelChange)="add(serv)" type="checkbox" class="text-red-700 border-2 border-red-700 form-checkbox bg-red-700 h-5 w-5 ">
        </div>

      </div>
    </div>


      <div class="mb-4">
          <label class="block text-white font-bold mb-2" for="car_type">
              Тип автомобиля
          </label>
          <select [(ngModel)]="tyid"  name="name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="car_type">
            <option *ngFor="let cartype of tyList" value="{{cartype.id}}" >{{cartype.type}}</option>
          </select>
      </div>

      <div class="mb-4">
          <label class="block text-white font-bold mb-2" for="wheel_radius">
              Параметры колес
          </label>
          <select  [(ngModel)]="radid"  name="radiusid"   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline" id="wheel_radius">
            <option *ngFor="let radius of radiuces" value="{{radius.id}}" >{{radius.radius}}</option>
          </select>
      </div>
      <div class="mb-4">
        <label class="block text-white font-bold mb-2" for="datepicker">
            Время записи
        </label>
        <input [(ngModel)]="newReq.stdate" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="datepicker" min="{{today}}" max="{{next2weeek}}" type="datetime-local" placeholder="Выберите дату" required>
    </div>
      <div class="mb-4">
          <label class="block text-white font-bold mb-2" for="total_cost">
              Итоговая стоимость
          </label>
          <input [(ngModel)]="costdisplay"  class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="total_cost" type="text" readonly>
      </div>

      <div class="flex items-center justify-between">
          <button class="bg-white hover:bg-gray-100 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button"
          (click)="createRequest()">
              Отправить заявку
          </button>
      </div>
    </div>
</div>
