<div class="w-full ">
  <div class="flex flex-wrap justify-center max-w-screen-xl mx-auto">
      <div class="border-2 border-black  bg-red-600 shadow-lg rounded-lg p-6 m-4 lg:w-full">
          <h2 class="text-2xl text-white font-bold mb-4 text-center">Контакты</h2>
          <p class="text-white m-2 text-lg">Наша команда всегда готова помочь вам с любыми вопросами, связанными с автомобилями.</p>
          <br/>
          <p class="text-white m-2 font-semibold text-lg">Адрес: ул. Ленина, д. 10, офис 205</p>
          <p class="text-white m-2 font-semibold text-lg">Телефон: +7 (495) 123-45-67</p>
          <p class="text-white m-2 font-semibold text-lg">Электронная почта: info@autoservice.com</p>
          <br/>
          <p class="text-white m-2 text-lg">Мы работаем ежедневно с 8:00 до 22:00 и всегда готовы ответить на ваши звонки и сообщения. Будем рады услышать вас!</p>
      </div>
  </div>
  </div>
