<div class="flex flex-col  bg-gray-100">
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <h1 class="text-2xl font-bold text-gray-700">Личный кабинет</h1>
    </div>
    <div class="mb-4">
      <h2 class="text-xl font-bold text-gray-700">Информация о клиенте</h2>
      <p class="text-gray-700">Имя: Иванов Иван</p>
      <p class="text-gray-700">Телефон: +7 (999) 123-45-67</p>
    </div>
    <div>
      <h1 class="text-2xl font-bold text-gray-700"> История посещений</h1>
      <table class="table-auto w-full">
        <thead>
          <tr>
            <th class="px-4 py-2 text-left text-gray-700 font-bold">Дата посещения</th>
            <th class="px-4 py-2 text-left text-gray-700 font-bold">Сумма</th>
            <th class="px-4 py-2 text-left text-gray-700 font-bold">Чек</th>
            <th class="px-4 py-2 text-left text-gray-700 font-bold">Детали</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 py-2 text-gray-700">01.01.2022</td>
            <td class="border px-4 py-2 text-gray-700">3400 руб.</td>
            <td class="border px-4 py-2 text-blue-500"><a class="underline underline-offset-4">АРТ№090990949864.xlsx</a></td>
            <td class="border px-4 py-2 text-gray-700">Детали по заказу</td>
          </tr>
          <tr>
            <td class="border px-4 py-2 text-gray-700">02.01.2022</td>
            <td class="border px-4 py-2 text-gray-700">2800 руб.</td>
            <td class="border px-4 py-2 text-blue-500"><a class="underline underline-offset-4">АРТ№090990949864.xlsx</a></td>
            <td class="border px-4 py-2 text-gray-700">Детали по заказу</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
