<div class="p-4">

  <h1 class="text-center mb-1 text-3xl">Создание заявки </h1>
  <form class="max-w-sm mx-auto bg-red-600 rounded p-5">

      <div class="mb-4">
          <label class="block text-white font-bold mb-2" for="datepicker">
              Время посещения
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="datepicker" type="datetime-local" placeholder="Выберите дату">
      </div>

      <div class="mb-4">
          <label class="block text-white font-bold mb-2" for="car_type">
              Тип автомобиля
          </label>
          <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="car_type">
              <option>Легковой</option>
              <option>Грузовой</option>
              <option>Автобус</option>
          </select>
      </div>

      <div class="mb-4">
          <label class="block text-white font-bold mb-2" for="wheel_radius">
              Параметры колес
          </label>
          <select class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline" id="wheel_radius">
              <option>11R</option>
              <option>12R</option>
              <option>13R</option>
              <option>14R</option>
              <option>15R</option>
              <option>16R</option>
              <option>17R</option>
              <option>18R</option>
              <option>19R</option>
              <option>20R</option>
              <option>21R</option>
              <option>22R</option>
          </select>
      </div>

      <div class="mb-4">
          <label class="block text-white font-bold mb-2" for="total_cost">
              Итоговая стоимость
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="total_cost" type="text" readonly>
      </div>

      <div class="flex items-center justify-between">
          <button class="bg-white hover:bg-gray-100 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
              Отправить заявку
          </button>
      </div>
  </form>
</div>
